/*

Light Green:#7ed56f
bennettfeely.com/clippy
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
  padding: 30px;
}

.header {
  height: 80vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(126,213,111,0.7),
    rgba(40,180,131,0.7)),
    url(../2.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path:polygon(0 0,100% 0,100% 80%,0 100%)
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 100px;
}

.text-box {
  position: absolute;
  top: 10%;
  left: 45%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.heading-primary {
  color: #000;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 12px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  /*
  animation-delay : 3s;
  animation-iteation-count:3;
  animation-timing-funciion:ease;
  */
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 7px;
  animation-name:moveInRight;
  animation-duration: 1s;

}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  50% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(f,0,0,.2);
}


.btn-lava {
  background-color: #000;
  color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-lava::after {
  background-color: #000;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  /*
   animation-name: moveInBottom;
   animation-duration: 2s;
  */
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;

}
.footer {
  height: 20vh;
  /* background-image: linear-gradient(
    to right bottom,
    rgba(126,213,111,0.7),
    rgba(40,180,131,0.7)),
    url(../2.jpeg); */
  background-color: #e2f9ec;
  position: relative;

  /* clip-path:polygon(0 0,100% 0,100% 80%,0 100%) */
}
