</<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/approot.css' %}">
    <!-- <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script> -->
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/instops.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script> -->
    <!--link rel="shortcut icon" type="image/jpeg"    href="/css/master.css"-->

    <title> LAVA CLOUD MANAGER</title>
  </head>
  <!-- <body onload="instanceloading()"> -->
  <body>
    <div class="mycanvas">
    <header class="header">
      <div class="logo-box">
        <img src="{% static 'logo.png' %}" alt="Logo" class="logo">
      </div>
      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary-main">LAVA CLOUD MANAGER</span>
          <span class="heading-primary-sub">manage all your cloud VMs in one place</span>
      </div>
    </header>
    <nav>
    <!-- Navigation -->
    <h3>Instances</h3>
    <h3>Alteon config</h3>
    <h3>Userdata</h3>
    <h3>Images</h3>
     </nav>

     <main>
    <!-- Main content -->
    <div class="instlogo-box">
    {% for inst in  instances.all %}
    <!-- <a href="{% url 'listinst' inst.id %}">
        {{inst.type}}    </a> -->

        <img src="{{inst.logo.url}}" alt="" id="{{inst.type}}" onclick="instanceloading(event)" class="instimg">
        <table class="insttable" id="table-{{inst.type}}">
          <tr>
            <th>Instance ID</th>
            <th>Name</th>
            <th>State</th>
          </tr>
          <!-- {% if inst.type == 'aws' %}
          <tr>
          <td>11111111111</td>
          <td>lava</td>
          <td> running </td>
          </tr>
          <tr>
          <td>11111111112</td>
          <td>lava2</td>
          <td> stopped </td>
          </tr>
          {% endif %} -->
        </table>
        {% if inst.type == 'aws' %}
        <p class="subtitle has-text-centered" id="progress-title"></p>
        {% else %}
        <p> </p>
        {% endif %}
        <br>
    {% endfor %}
    </div>
    <!-- <p>{{ task_id }}<p>{{ task_status }}<p>{{ task_results }} -->
     </main>

    <aside>
    <!-- Sidebar / Ads -->
    </aside>

      <footer>
    <!-- Footer content -->
     </footer>
    </div>
    <script>
      instops = new InstOps();
      var count = 0;
      jqfn = null;
      drawfn = null;
      taskval = null;

      $(function() {
       function loadmyurl(url){
              /.. some operations ../
              // alert("from jquery"+ url);
              $.getJSON(url,{}).done(function(data){
                console.log(data);
                // taskval=JSON.stringify(data);
                taskval=data;
              }

            ).fail(function(){
              alert('fail');
            });
       }
       function drawTables(mytable, data){
         //alert(mytable);
         // $('.insttable#'+mytable).fadeToggle(500);
         $.each(data.instances, function(index,item){
             console.log(item.InstanceId+''+item.State.Name+''+ item.Tags[0].Value);
             $('#'+mytable).append('<tr><td>'+item.InstanceId+'</td><td>'+item.Tags[0].Value+'</td><td>'+item.State.Name+'</td></tr>');
            }
         );
         // $('#'+mytable).append('<tr><td>my data</td><td>more data</td><td>more data</td></tr>');
         $('#'+mytable).fadeToggle(500);
         // $('#'+myTable).append('<tr><td>my data</td><td>more data</td><td>more data</td></tr>');
       }
       jqfn = loadmyurl;
       drawfn = drawTables;
      })

      // $(function {
      //
      // });

      function instanceloading(e) {
        // alert("Page is loaded");
        //alert(e.target.id);
        {% if task_id %}
        var taskUrl = "{% url 'task' task_id=task_id %}";
        // jquery.load(taskUrl);
        jqfn(taskUrl);
        // alert(JSON.stringify(taskStatus));

        // instops.getInstance('{{task_id}}');
        var timer = setInterval(function() {
          count++;
          if (taskval === null ) {
            alert('nul');
          } else {
            // alert(taskval.task_status);
            if(taskval.task_status === 'SUCCESS') {
              // alert(taskval.results);
              drawfn('table-'+e.target.id, taskval.results)
              clearInterval(timer);
            }
          }
          // alert(count);
          if(count===3) {
            clearInterval(timer);
          }
        },500);
        {% endif %}
      }
    </script>
  </body>
</html>
