</<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/approot.css' %}">
    <!-- <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script> -->
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/instops.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script> -->
    <!--link rel="shortcut icon" type="image/jpeg"    href="/css/master.css"-->

    <title> LAVA CLOUD MANAGER</title>
  </head>
  <body onload="instanceloading()">
  <!-- <body> -->
    <div class="mycanvas">
    <header class="header">
      <div class="logo-box">
        <img src="{% static 'logo.png' %}" alt="Logo" class="logo">
      </div>
      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary-main">LAVA CLOUD MANAGER</span>
          <span class="heading-primary-sub">manage all your cloud VMs in one place</span>
      </div>
    </header>
    <nav>
    <!-- Navigation -->
    <h3>Instances</h3>
    <h3>Alteon config</h3>
    <h3>Userdata</h3>
    <h3>Images</h3>
     </nav>

     <main>
    <!-- Main content -->
    <div class="instlogo-box">
    {% for inst in  instances.all %}
      <br>
      <img src="{{inst.logo.url}}" alt="" id="{{inst.type}}" onclick="toggleme(event)" class="instimg">
        <table class="insttable" id="table-{{inst.type}}">
          <tr>
            <th>Instance ID</th>
            <th>Name</th>
            <th>State</th>
          </tr>
          <br>
        </table>
    {% endfor %}
    </div>
    </main>

    <aside>
    <!-- Sidebar / Ads -->
    </aside>

      <footer>
    <!-- Footer content -->
     </footer>
    </div>
    <script>
      instops = new InstOps();
      function instanceloading() {
        {% for inst in  instances.all %}
            {% if inst.type == 'aws' %}
                var taskUrl = "{% url 'task' task_id=taskid_aws %}";
                instops.getInstance(taskUrl,'table-{{inst.type}}');
            {% elif inst.type == 'gcp' %}
                var taskUrl = "{% url 'task' task_id=taskid_gcp %}";
            {% elif inst.type == 'azure' %}
                var taskUrl = "{% url 'task' task_id=taskid_azure %}";
            {% endif %}
            // alert(taskUrl);
            // instops.getInstance(taskUrl,'table-{{inst.type}}');
            //alert(taskUrl);
        {% endfor %}
           // {% if inst.type == 'aws' %}
           //    var taskUrl = "{% url 'task' task_id=taskid_aws %}";
           //    instops.getInstance(taskUrl,'table-{{inst.type}}');
           // // {% endif %}

      }
      function toggleme(e){
        instops.mytoggle('table-'+e.target.id);
      }
    </script>
  </body>
</html>
